// COLORS
$primary-color: #db6521;
$secondary-color: #c28b47;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgba(17, 4, 4, 0.712);

$dark-grey: #000000;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
